# Ignore Python virtual environments
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/config files
.env

# Ignore Jupyter/IPython checkpoints
.ipynb_checkpoints/

# Ignore SQLite DB
*.sqlite3
